<%- include('partials/_header'); %>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/update/<%= task._id %>" method="post">
                    <div class="form-group">
                        <input type="text" value="<%= task.title %>" class="form-control" placeholder="Insertar título"
                               name="title">
                    </div>
                    <div class="form-group">
                            <textarea cols="30" class="form-control" placeholder="Insertar descripción"
                                      name="description"><%= task.description %></textarea>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">
                        Editar
                    </button>
                </form>
                <a href="/" class="btn btn-dark btn-block">Cancelar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<%- include('partials/_footer'); %>